<div class='card'>
  <div class='card-header'>
    <%= render(AvatarComponent.new(user: user)) %>
  </div>
  <div class='card-body'>
    <b><%= 'id'.humanize %>:</b>
    <%= user.id %>
    <br>
    <b><%= 'email'.humanize %>:</b>
    <%= link_to_unless_current user.email, user %>
    <br>
    <b><%= 'name'.humanize %>:</b>
    <%= user.name %>
    <br>
    <b><%= 'provider'.humanize %>:</b>
    <%= user.provider %>
    <br>
    <b><%= 'uid'.humanize %>:</b>
    <%= user.uid %>
    <br>
    <b><%= 'sign_in_count'.humanize %>:</b>
    <%= user.sign_in_count %>
    <br>
    <b><%= 'current_sign_in_at'.humanize %>:</b>
    <%= user.current_sign_in_at %>
    <br>
    <b><%= 'last_sign_in_at'.humanize %>:</b>
    <%= user.last_sign_in_at %>
    <br>
    <b><%= 'current_sign_in_ip'.humanize %>:</b>
    <%= user.current_sign_in_ip %>
    <br>
    <b><%= 'last_sign_in_ip'.humanize %>:</b>
    <%= user.last_sign_in_ip %>
    <br>
    <b><%= 'confirmed'.humanize %>:</b>
    <%= render(BooleanLabelComponent.new(value: user.confirmed?)) do %>
      <%= user.confirmed? %>
    <% end %>
    <br>
    <b><%= 'created_by_invite'.humanize %>:</b>
    <%= render(BooleanLabelComponent.new(value: user.created_by_invite?)) do %>
      <%= user.created_by_invite? %>
    <% end %>
    <br>
    <b><%= 'invitation_accepted_at'.humanize %>:</b>
    <%= render(BooleanLabelComponent.new(value: user.invitation_accepted_at?)) do %>
      <%= user.invitation_accepted_at? %>
    <% end %>
    <br>
    <b><%= 'created_at'.humanize %>:</b>
    <%= user.created_at.strftime('%d %b %Y') %>
    <br>
    <b><%= 'stripe_customer_id'.humanize %>:</b>
    <%= user.stripe_customer_id %>
    <br>
    <b><%= 'plan'.humanize %>:</b>
    <%= user.plan %>
    <br>
    <b><%= 'subscription_status'.humanize %>:</b>
    <%= user.subscription_status %>
    <br>
    <b><%= 'current_period_end'.humanize %>:</b>
    <%= user.current_period_end&.strftime('%d %b %Y') %>
    <br>
    <b><%= 'posts_count'.humanize %>:</b>
    <%= user.posts_count %>
    <br>
    <b><%= 'invitees'.humanize %>:</b>
    <%= user.invitees.count %>
    <% user.invitees.each do |invitee| %>
      <%= invitee.email %>
    <% end %>
    <hr>
    <h3>Post stats:</h3>
    Voted:
    <%= user.find_voted_items(vote_scope: 'like').count %>
    <br>
    Upvoted:
    <%= user.find_up_voted_items(vote_scope: 'like').count %>
    <br>
    Downvoted:
    <%= user.find_down_voted_items(vote_scope: 'like').count %>
    <br>
    Bookmarked:
    <%= user.find_voted_items(vote_scope: 'bookmark').count %>
    <br>
    Completed:
    <%= user.find_up_voted_items(vote_scope: 'watchlist').count %>
    <br>
    Watchlisted:
    <%= user.find_down_voted_items(vote_scope: 'watchlist').count %>
  </div>
</div>
<br>
