<h1>
  Users:
  <%= @users.length %>/
  <%= User.count %>
</h1>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<%= sort_link(@q, :created_at) do %>
  <strong class='text-secondary'>Latest</strong>
<% end %>
<%= sort_link(@q, :posts_count, default_order: :desc) do %>
  <strong class='text-secondary'>Posts count</strong>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label :email %>
  <%= f.search_field :email_cont %>

  <%= f.submit %>
<% end %>

<% if params[:q].present? %>
  <%= link_to users_path do %>
    <i class="fa fa-sync"></i>
  <% end %>
<% end %>

<hr>

<%= render(UserComponent.with_collection(@users)) %>
