<%= form_with(model: post) do |form| %>
  <%= render 'layouts/errors', form: form %>

  <div class="field" data-controller="character-counter">
    <%= form.label :title %>
    <%= form.text_field :title,
      autocomplete: 'off',
      style: "width: 100%",
      data: { character_counter_target: 'input' },
      maxlength: Post::MAX_TITLE_LENGTH %>
    <strong data-character-counter-target="counter"></strong>/<%= Post::MAX_TITLE_LENGTH%> characters
  </div>

  <div class="field" data-controller="character-counter">
    <%= form.label :description %>
    <%= form.text_field :description,
      autocomplete: 'off',
      style: "width: 100%",
      data: { character_counter_target: 'input' },
      maxlength: Post::MAX_DESCRIPTION_LENGTH %>
    <strong data-character-counter-target="counter"></strong>/<%= Post::MAX_DESCRIPTION_LENGTH%> characters
  </div>

  <div class="field" data-controller="character-counter">
    <%= form.label :body %>
    <%= form.text_area :body,
      style: "width: 100%",
      rows: 8,
      data: { controller: "textarea-autogrow", character_counter_target: 'input' },
      maxlength: Post::MAX_BODY_LENGTH, 
      placeholder: 'User Markdown for formatting' 
    %>
    <strong data-character-counter-target="counter"></strong>/<%= Post::MAX_BODY_LENGTH%> characters
  </div>

  <div class="field">
    <%= form.label :premium %>
    <%= form.check_box :premium %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
