<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, maxlength: Post::MAX_TITLE_LENGTH %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, maxlength: Post::MAX_DESCRIPTION_LENGTH %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, 
      style: "width: 100%", 
      rows: 8,
      maxlength: Post::MAX_BODY_LENGTH, 
      placeholder: 'User Markdown for formatting' 
    %>
  </div>

  <div class="field">
    <%= form.label :premium %>
    <%= form.check_box :premium %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
