<div class='card'>
  <div class='card-header'>
    <h3>
      <%= premium_label(post.premium) %>
      <%= link_to_unless_current highlight(post.title, params.dig(:q, :title_or_description_cont)), post %>
    </h3>
    <p class="fst-italic">
      <%= highlight(post.description, params.dig(:q, :title_or_description_cont)) %>
    </p>
  </div>
  <% if controller_name == 'posts' && action_name == 'show' %>
    <%= render 'layouts/vimeo', vimeo_id: @post.description %>
    <div class='card-body'>
      <%= markdown(post.body) %>
    </div>
  <% end %>
  <% if post.tags.any? %>
    <div class='card-footer'>
      <% post.tags.pluck(:name).each do |tag| %>
        <div class='badge bg-info'>
          <%= tag %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class='card-footer'>
    <h3>
      <div class='d-flex justify-content-center'>
        <%= render 'posts/bookmark_link', post: post %>
        <%= render 'posts/upvote_link', post: post %>
        <%= render 'posts/like_count', post: post %>
        <%= render 'posts/downvote_link', post: post %>
        <%= render 'posts/complete_link', post: post %>
        <%= render 'posts/watchlist_link', post: post %>
      </div>
      <br>
      <%= render 'posts/progress', post: post %>
    </h3>
  </div>
  <div class='card-footer'>
    <div class='float-start'>
      <i class="far fa-comment"></i>
      <%= post.comments_count %>
    </div>
    <div class='float-end'>
      On <%= post.created_at.strftime('%d %b %Y') %>
      by 
      <%= image_tag post.user.image, size: "30x30", class: "rounded-circle d-inline-block align-top" if post.user.image %>
      <%= link_to post.user.username, post.user %>
    </div>
  </div>
  <% if current_user == post.user %>
    <div class='card-footer'>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>
</div>
<br>
