<div class='card'>
  <div class='card-body'>
    <h3>
      <%= link_to_unless_current post.title, post %>
    </h3>
    <%= markdown(post.body) %>
  </div>
  <div class='card-footer'>
    On <%= post.created_at.strftime('%d %b %Y') %>
    by <%= link_to post.user.username, post.user %>
    <%= premium_label(post.premium) %>
  </div>
  <% if current_user == post.user %>
    <div class='card-footer'>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
