<div class='card'>
  <div class='card-body'>
    <h3>
      <%= link_to_unless_current post.title, post %>
    </h3>
    <% if current_user %>
      <%= render 'posts/upvote_link', post: post %>
      <%= render 'posts/like_count', post: post %>
      <%= render 'posts/downvote_link', post: post %>
    <% end %>
    <p class="fst-italic">
      <%= post.description %>
    </p>
    <% if controller_name == 'posts' && action_name == 'show' %>
      <%= markdown(post.body) %>
    <% end %>
  </div>
  <div class='card-footer'>
    On <%= post.created_at.strftime('%d %b %Y') %>
    by 
    <%= image_tag post.user.image, size: "30x30", class: "rounded-circle d-inline-block align-top" if post.user.image %>
    <%= link_to post.user.username, post.user %>
    <%= premium_label(post.premium) %>
  </div>
  <% if current_user == post.user %>
    <div class='card-footer'>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<br>
