<div class='card'>
  <div class='card-body'>
    <h3>
      <%= premium_label(post.premium) %>
      <%= link_to_unless_current post.title, post %>
    </h3>
    <p class="fst-italic">
      <%= post.description %>
    </p>
    <% if controller_name == 'posts' && action_name == 'show' %>
      <%= markdown(post.body) %>
    <% end %>
  </div>
  <div class='card-footer'>
    <h3>
      <div class='d-flex justify-content-center'>
        <%= render 'posts/upvote_link', post: post %>
        <%= render 'posts/like_count', post: post %>
        <%= render 'posts/downvote_link', post: post %>
      </div>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= number_to_percentage(post.upvote_percentage, precision: 0) %>"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: <%= number_to_percentage(post.downvote_percentage, precision: 0) %>"></div>
      </div>
    </h3>
  </div>
  <div class='card-footer'>
    On <%= post.created_at.strftime('%d %b %Y') %>
    by 
    <%= image_tag post.user.image, size: "30x30", class: "rounded-circle d-inline-block align-top" if post.user.image %>
    <%= link_to post.user.username, post.user %>
  </div>
  <% if current_user == post.user %>
    <div class='card-footer'>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>
</div>
<br>
