<h1>
  Posts:
  <%= @posts.length %>/
  <%= Post.count %>
</h1>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<%= sort_link(@q, :created_at, default_order: :desc) do %>
  <strong>Created</strong>
<% end %>
<%= sort_link(@q, :cached_votes_score, default_order: :desc) do %>
  <strong>Top</strong>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

  <%= f.select :premium_eq, [['Premium', true], ['Free', false]], include_blank: 'Type' %>

  <%= f.collection_select :user_name_cont, User.joins(:posts).distinct, :name, :name, include_blank: 'Author' %>

  <%= f.submit %>
<% end %>

<% if params[:q].present? %>
  <%= link_to posts_path do %>
    <i class="fa fa-sync"></i>
  <% end %>
<% end %>

<hr>

<%= render @posts %>
