<%= render 'posts/post', post: @post %>

<div style="padding:66.67% 0 0 0;position:relative;">
  <iframe src="https://player.vimeo.com/video/<%= @post.description %>?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=696765de8b" 
    frameborder="0" 
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen 
    style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    title="12 stripe course promo shoplify and saasblog">
  </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js">
</script>

<hr>
Upvoters:
<%= @post.votes_for.up.by_type(User).voters.pluck(:email) %>
<hr>
Downvoters:
<%= @post.votes_for.down.by_type(User).voters.pluck(:email) %>
<hr>
Comments:
<%= @comments.count %>
<br>
<%= link_to 'Add Comment', new_post_comment_path(@commentable) %>
<%= render template: 'comments/new' %>
<br>
<%= render @comments %>