<%= render 'posts/post', post: @post %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      Upvoters:
      <br>
      <%= @post.get_upvotes(vote_scope: 'like').by_type(User).voters.pluck(:email) %>
    </div>
    <div class="col-md-6">
      Downvoters:
      <br>
      <%= @post.get_downvotes(vote_scope: 'like').by_type(User).voters.pluck(:email) %>
    </div>
  </div>
</div>

<hr>
<%= render template: 'comments/new' %>
<%= render @comments %>