<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= display_meta_tags site: Rails.application.class.module_parent.name,
                          description: 'Moder Ruby on Rails screencasts',
                          keywords: 'ruby, rails, ruby-on-rails' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <br>
      <%= yield %>
      <br>
    </div>
  </body>
  <footer>
    <br>
    <%= render 'layouts/footer' %>
  </footer>
</html>
